1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [23]:
#a
l=list()
i = 1
while i < 101: 
    if i % 3 == 0 and i % 5 == 0:
        l+= ["MickeyMouse"]
    elif i % 3 == 0:
        l+= ["Mickey"]
    elif i % 5 == 0:
        l+= ["Mouse"]
    else:
        l+=[i]     
    i+=1
print(l)
j=0
#b
while j < 100:
    if l[j] == "MickeyMouse":
        l[j] = "DonaldDuck"
    elif l[j] == "Mickey":
        l[j] = "Donald"
    elif l[j] == "Mouse":
        l[j] = "Duck" 
    j+=1    
print(l)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']
[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
x = input("insert the value of x: ")
y = input("insert the value of y: ")
def swap_function(x,y):
    x,y = y,x
    print(x,y)
swap_function(x,y)

insert the value of x: b
insert the value of y: n
n b

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [79]:
from math import sqrt
a = (int(input("insert the value of x: ")),int(input("insert the value of y: ")))
b = (int(input("insert the value of x: ")),int(input("insert the value of y: ")))
def eucledian_distance (a,b):
    return sqrt((a[0]-b[0])**2+(a[1]-b[1])**2)
dist = eucledian_distance(a,b)
print(dist)

insert the value of x: 3
insert the value of y: 6
insert the value of x: 2
insert the value of y: 1
5.0990195135927845

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [26]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [78]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
count = {}
for c in s:
    c = c.lower()
    if c in count:
        if c != " ":
            count[c] += 1
    else:
        if c != " ":
            count[c] = 1 

for key in count:
    if count[key] >= 1:
        print ("Il carattere", key, "compare ", count[key], "volte")

Il carattere w compare  2 volte
Il carattere r compare  17 volte
Il carattere i compare  14 volte
Il carattere t compare  19 volte
Il carattere e compare  22 volte
Il carattere a compare  7 volte
Il carattere p compare  8 volte
Il carattere o compare  13 volte
Il carattere g compare  1 volte
Il carattere m compare  12 volte
Il carattere h compare  9 volte
Il carattere n compare  10 volte
Il carattere s compare  9 volte
Il carattere u compare  9 volte
Il carattere b compare  5 volte
Il carattere f compare  10 volte
Il carattere 1 compare  2 volte
Il carattere 0 compare  2 volte
Il carattere . compare  2 volte
Il carattere l compare  6 volte
Il carattere c compare  3 volte
Il carattere k compare  2 volte
Il carattere y compare  2 volte
Il carattere d compare  3 volte
Il carattere v compare  2 volte

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [2]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [5]:
def unique(x):
    list_unique = []
    list_not_unique = []
    for i in x:
        if i in list_unique:
            list_unique.remove(i)
            list_not_unique.append(i)
        elif i not in list_not_unique:
            list_unique.append(i)
    print(list_unique)
    print( "The number of unique characters is", len(list_unique))
unique(l)

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
The number of unique characters is 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [6]:
def square(x):
    return x*x
def cube(x):
    return pow(x,3)
def sixth_power(x):
    return cube(square(x))

sixth_power(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [11]:
#a
lista = []
for x in range(11):
    lista.append(pow(x,3))
print(lista)



#b
list = [pow(x,3) for x in range(11)]
print(list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [6]:
from math import sqrt
gianni = []
droga = []
for a in range(1,100):
    for b in range(1,100):
        for c in range(1,100):
            k = a**(10) + b**(10) + c**(10)
            if a**(2)+b**(2) == c**(2):
                   if k not in droga:
                    droga.append(k)
                    gianni.append((a,b,c))
print(gianni)  
print(len(gianni))

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97)]
50

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [9]:
from math import sqrt
def normalizer(l):
    x = 0
    lista = []
    for i in l:
        x +=i**(2)
    for j in l:
        v = j/sqrt(x)
        lista.append(v)
    return lista
l=(1,2,3,4,6) 
normalizer(l)

[0.12309149097933272,
 0.24618298195866545,
 0.3692744729379982,
 0.4923659639173309,
 0.7385489458759964]